<section class="about">
  <h1 class="about__title">
    About
  </h1>

  <p class="about__description">
    I am a Japanese Engineer. I usually write some JavaScript applications for work. I'm also into dartlang, nodejs, flutter, css-in-js and application architecture.
  </p>

  <style>
    .about {
      width: 100%;
      margin: 1.6rem auto;
    }

    .about__title {
      margin-bottom: 0.75rem;
      font-size: 1.5rem;
    }

    .about__description {
      line-height: 1.75;
    }

    @media (max-width: 480px) {
      .about {
        width: calc(100% - 32px);
      }
    }
  </style>
</section>
